@import '../../App//App.scss';

.modalWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $BG_WRAPPER_MODAL;
}

.modal {
    max-width: 373px;
    padding: 23px;
    background-color: $BG_WHITE;
    border-radius: 20px;
    flex: 1;

}

.topWrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 35px;
}

.closeWrapper {

    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $BG_INPUT;
    border-radius: 50%;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $BLACK_TEXT;
    transform: translate(-50%, -50%);
}

.closeWrapper {
    cursor: pointer;
}

.childWrapper {}

@media (max-width: 450px) {
    .modal {
        max-width: 290px;
    }
}

@media (max-width: 390px) {
    .modal {
        max-width: 254px;
    }
}

@media (max-width:330px) {
    title {

        font-size: 17px;

    }
}