@import '../../App/App.scss';

.InputWrapper {
    background-color: $BG_INPUT;
    padding: 10px 14px;
    border-radius: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 1s;
    border: 1px solid transparent;
    position: relative;
}

.error {
    border: 1px solid red;
}

.errorText {
    position: absolute;
    left: 12px;
    bottom: -17px;
    transition: all 1s;
    color: red;
    font-size: 12px;
}

.input {
    width: 100%;
    background-color: $BG_INPUT;
    border: none;
    outline: none;
    flex: 1;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $BLACK_TEXT;
    caret-color: $PURPLE_BOTTOM_LINE;
    height: 100%;
    padding: 0 10px;
}

.leftComponent {
    cursor: pointer;
}

.rightComponent {
    cursor: pointer;
}