$BLACK_TEXT: #050510;
$GRAY_TEXT: #97979B;
$PURPLE_BOTTOM_LINE: #6534FF;
$BG_INPUT: #F7F7F8;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    font-family: 'Inter',
    sans-serif;

}
body {
}