$BLACK_TEXT: #050510;
$GRAY_TEXT: #97979B;
$TAG_COLOR: #55555C;
$PURPLE_BOTTOM_LINE: #6534FF;
$BG_INPUT: #F7F7F8;
$BG_WHITE: #FFF;
$BG_WRAPPER_MODAL: rgba(5, 5, 16, 0.16);
$GRAY_LINE_SECTION_BORN: #C3C3C6;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter',
        sans-serif;
}

body {}

.scroll_block {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background: $PURPLE_BOTTOM_LINE;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: $PURPLE_BOTTOM_LINE;
}

::-webkit-scrollbar-thumb:active {
    background: $PURPLE_BOTTOM_LINE;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 42px;
}

::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

::-webkit-scrollbar-track:active {
    background: #ffffff;
}

::-webkit-scrollbar-corner {
    background: transparent;
}