@import '../../App/App.scss';

.wrapper {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconWrapper {
    margin-bottom: 8px;
}

.title {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: $BLACK_TEXT;
    margin-bottom: 12px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $GRAY_TEXT;
}

.buttonWrapper {
    margin-top: 12px;
    cursor: pointer;
}

.button_text {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    /* [Light] Content / Active Primary */

    color: $PURPLE_BOTTOM_LINE;
}

@media (max-width: 360px) {
    .title {
        font-size: 17px;
    }

    .description {
        font-size: 14px;
    }
}